.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f7f7fb;
}

.main {
  flex: 1;
  width: min(1200px, 100%);
  margin: 0 auto;
  padding: 2rem 1.25rem 3rem;
}

